@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 class="display-4">Burhanuddin Petiwala</h1>
    <p class="lead">This is a simple project to account movie ratings with a backend development and frontend designing</p>
    <hr class="my-4">
    <p>To check current movie ratings please click the button below: </p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="../Reviews/Index" role="button">View Ratings</a>
    </p>
</div>